// font-family: 'Comfortaa', cursive;
// font-family: 'Alfa Slab One', cursive;
*
    &:focus
        outline: none

.section-intro
    background-image: url('/static/images/343.jpg')
    height: calc(100vh - 60px)
    padding: 30px
    color: #fff
    background-size: auto 170%
    background-position: -220px -50px

.section-contact
    background-image: url('/static/images/space.jpg')
    background-size: cover
    background-position: center center
    height: calc(100vh - 60px)
    padding: 30px
    color: #fff

.section-about
    background-image: url('/static/images/totem.jpg')
    background-size: cover
    background-position: center center
    height: calc(100vh - 60px)
    padding: 30px
    color: #fff
    & div
        padding: 10px
        max-width: 512px
        font-family: 'Comfortaa', cursive
        background-color: rgba(0, 0, 0, 0.3)
        & a
            text-decoration: none
            cursor: pointer
            padding: 10px
            font-size: 20px
            width: 100px
            background-color: #E91E63
            color: #ffffff
            border: 3px solid #E91E63
            font-family: 'Comfortaa', cursive
            transition: 0.5s
            &:hover
                background-color: #fff
                transition: 0.5s
                color: #E91E63

.circle-nav-container
    margin-left: 10vw

.circle-nav
    display: flex
    flex-direction: row
    & svg
        margin: 5px
        cursor: pointer
        & circle,line,text
            transition: 0.5s
        & text
            font-size: 20px
        &:hover
            & .circle-highlight
                stroke: rgb(103, 58, 183)
            & circle
                stroke-width: 40
                stroke: rgb(139, 195, 74)
                // stroke: rgb(233, 30, 99)
            & text
                font-size: 30px
    & .circle-line
        stroke: rgb(255,255,255)
        stroke-width: 2
    & .circle-text
        font-family: 'Comfortaa', cursive

.resp-nav-container
    display: none;

.contact-form
    display: flex
    justify-content: center
    align-items: center
    & .large-btn-flex
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        & .large-btn
            font-size: 100px
            padding: 20px
            margin: 20px
            width: 200px
            background-color: #E91E63
            text-align: center
            transition: 0.5s
            cursor: pointer
            &:hover
                background-color: #ffffff
                color: #e91e63
                transition: 0.5s
    & form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 350px
        background-color: rgba(255, 255, 255, 0.9)
        padding: 20px
        & div
            width: 100%
            margin: 20px
        & button
            padding: 10px
            font-size: 20px
            width: 100px
            background-color: #E91E63
            color: #ffffff
            border: 3px solid #E91E63
            font-family: 'Comfortaa', cursive
            transition: 0.5s
            &:hover
                background-color: #fff
                transition: 0.5s
                color: #E91E63
        & input,textarea
            padding: 10px
            font-size: 20px
            width: calc(100% - 26px)
            margin: 20px
            border: 3px solid #ddd
            font-family: 'Comfortaa', cursive
            &:focus
                border-bottom: 3px solid #E91E63

@media only screen and (max-width: 600px)
    .circle-nav-container
        display: none

    .section-intro
        background-size: cover
        background-position: center center
        .name-span
            font-size: 15vw
            text-align: center
            width: calc(100vw - 60px)
            background-color: rgba(0,0,0,0.7)

    .section-about
        & div
            background-color: rgba(0, 0, 0, 0.7)

    .resp-nav-container
        margin-top: 15vh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height: 50vh

    .resp-nav-flex
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        width: 100%
        & span
            width: 30%
            text-align: center
            padding: 10px
            margin: 10px
            font-family: 'Comfortaa', cursive